<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
	backupGlobals="true"
	cacheTokens="false"
	bootstrap="bootstrap.php"
>
	<testsuites>
		<testsuite name="PRECAST-Environment">
			<directory suffix=".php">Environment</directory>
		</testsuite>
		<testsuite name="PRECAST-Facade">
			<directory suffix=".php">Facade</directory>
		</testsuite>
		<testsuite name="PRECAST-Vendor">
			<directory suffix=".php">Vendor/Factory</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">Environment</directory>
			<directory suffix=".php">../Environment</directory>
			<directory suffix=".php">Facade</directory>
			<directory suffix=".php">../Facade</directory>
			<directory suffix=".php">Vendor/Factory</directory>
			<directory suffix=".php">../Vendor/Factory</directory>
			<exclude>
				<directory>../Vendor/Repository</directory>
			</exclude>
		</whitelist>
	</filter>

</phpunit>
